mixin docTable(doc, nested)
  table.text-left.w-full.sm_px-4.nested(class=nested ? "" : " h-full")
    thead.uppercase.text-xs.text-gray-700.tracking-wide
      tr
        th.p-3 Command
        th.p-3 Description
    tbody
      each c in doc
        - var hasNestedTable = typeof c.doc === "object";
        tr(class=nested ? "hover_bg-gray-200" : "odd_bg-gray-100")
          td.px-3.h-full.align-text-top
            if c.command === DEFAULT_HANDLER_KEY
              em.py-3 No Matching Command
            else if c.command === NOTHING_HANDLER_KEY
              em.py-3 No Input
            else
              .block.h-full
                strong.py-3.my-3(class=hasNestedTable ? "sticky top-0" : "")= c.command
          if hasNestedTable
            td.align-text-top
              +docTable(c.doc, true)
          else
            td.p-3.align-text-top= c.doc

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title= "neh commands"
    link(
      rel='search',
      type='application/opensearchdescription+xml',
      title='Neh',
      href='/_opensearch'
    )
    style
      #{css}
  body
    .py-10.max-w-3xl.mx-auto
      h1.px-3.font-black.leading-none.text-6xl.mt-10.mb-8 👇 NEH!
      +docTable(doc, false)
      p.px-3.mt-10.text-gray-500.text-sm
        | Source code available on
        |
        a(href='/gh%20r%20taneliang/neh') GitHub
        | .
